<main id="main">
    <section class="page-section articles">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Articles</h2>
                <h3 class="section-subheading text-muted">Because everything with wine is better.</h3>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="items">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="image">
                                                <img src="/assets/img/articles/1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="right-content">
                                                <h4>Lorem ipsum dolor sit amet, consectetur</h4>
                                                <span>Ivan Ivanov</span>
                                                <div class="main-button">
                                                    <button class="btn btn-danger">Read More</button>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur ea earum quae laborum provident. Vero, doloremque! Optio, debitis? Perferendis quam rerum atque debitis...</p>
                                                <ul class="info">
                                                    <li><i class="bi bi-clock"></i> 20 August 2023</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="image">
                                                <img src="/assets/img/articles/1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="right-content">
                                                <h4>Lorem ipsum dolor sit amet, consectetur</h4>
                                                <span>Ivan Ivanov</span>
                                                <div class="main-button">
                                                    <button class="btn btn-danger">Read More</button>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur ea earum quae laborum provident. Vero, doloremque! Optio, debitis? Perferendis quam rerum atque debitis...</p>
                                                <ul class="info">
                                                    <li><i class="bi bi-clock"></i> 20 August 2023</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                            <div class="image">
                                                <img src="/assets/img/articles/1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-lg-8 col-sm-7">
                                            <div class="right-content">
                                                <h4>Lorem ipsum dolor sit amet, consectetur</h4>
                                                <span>Ivan Ivanov</span>
                                                <div class="main-button">
                                                    <button class="btn btn-danger">Read More</button>
                                                </div>
                                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur ea earum quae laborum provident. Vero, doloremque! Optio, debitis? Perferendis quam rerum atque debitis...</p>
                                                <ul class="info">
                                                    <li><i class="bi bi-clock"></i> 20 August 2023</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</main>