/* Articles */
.articles .item {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
}

.articles .item .image img {
    border-radius: 23px;
}

.articles .item .right-content h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.articles .item .right-content span {
    font-size: 15px;
    color: #afafaf;
    display: block;
}

.articles .item .right-content .main-button {
    position: absolute;
    right: 0;
    top: 0;
}

.articles .item .right-content p {
    margin: 18px 0px;
}

.articles .item .right-content ul {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 15px 0px;
}

.articles .item .right-content ul li {
    display: inline-block;
    width: 32%;
    color: #afafaf;
    font-size: 14px;
}

.articles .item .right-content ul li i {
    margin-right: 5px;
    font-size: 16px;
}

.articles .item .right-content .text-button {
    margin-top: 20px;
}

.main-button .btn {
    font-size: 14px;
    color: #fff;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    transition: all .3s;
    position: relative;
    overflow: hidden;
}

img {
    width: 100%;
    overflow: hidden;
}


@media (max-width: 767px) {
    .articles .item .right-content .main-button a {
        font-size: 14px;
        padding: 12px 15px;
    }

    .main-button .btn {
        text-align: center;
    }

    .articles .item .right-content ul li {
        width: 30%;
    }

    .articles .item .right-content h4 {
        margin-top: 20px;
    }
}

@media (max-width: 992px) {
    .articles .item .right-content ul li {
        width: 30% !important;
    }

    .articles .item .right-content {
        position: relative;
    }

    .articles .side-bar-map {
        margin-left: 0px;
        margin-top: 60px;
    }
}