<div class="masthead">
    <div class="container">
        <div class="masthead-subheading">Wine Knowledge</div>
        <div class="masthead-heading text-uppercase">If you want to know more about wines!</div>
        <a class="btn btn-danger btn-xl text-uppercase">Click Here</a>
    </div>
</div>

<main id="main">
    <section class="page-section" id="about">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">About</h2>
                <h3 class="section-subheading text-muted">Every wine lover.</h3>
                <p>Here's the place where you can find out more information about all kinds of wine. If you want all the knowledge that is the place for you.
                </p>
            </div>
        </div>
    </section>
</main>